* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../imagenes/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor {
  border-radius: 5px;
  max-width: 320px;
  height: 450px;
  background-color: black;
   color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 70px 30px;
  box-shadow: 2px solid black;
  border: 2px solid black; 


}

.contenedor img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  background-color: aliceblue;
border-radius: 50%;
}

.contenedor h1 {
  color: aliceblue;
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.5em;
  
}

.contenedor label {

  font-weight: bold;
  display: block;
 
}

.contenedor input {

  width: 100%;
  margin-bottom: 20px;
  

}

.contenedor input[type="text"],
.contenedor input[type="password"] {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  height: 40px;
  color: aliceblue;
  border-radius: 5px;
}

.contenedor input[type="button"] {

  border: none;
  outline: none;
  height: 40px;
  font-size: 1.1em;
  background-color: #66b3ff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-align: center;

}

.contenedor input[type="button"]:hover {
border-radius: 10px;
background-color: aliceblue;
color: #0080ff;
text-shadow: 17px 87px 14px rgb(230, 245, 255);
}

.contenedor a {
  text-decoration: none;
  display: block;
  color: #b8b894;
  font-size: 0.8em;
  line-height: 20px;

}

.contenedor #mensaje {

  border: none;
  font-size: 0.8em;
  font-weight: lighter;
}

.contenedor .blanco {
  color: white
}

.contenedor .negro {
  color: black;

}

.contenedor .verde {
  color: green;
  font-size: 0.9em !important;


}